[submodule "hobbysite-C-D-9"]
	path = hobbysite-C-D-9
	url = https://github.com/vin-arg/self2.git
[submodule "hobbysite-C-D-9 copy"]
	path = hobbysite-C-D-9 copy
	url = https://github.com/vin-arg/self2.git
