{% extends 'bbase.html' %}

{% load static %}
{% block mycss %}
<link rel="stylesheet" href="{% static 'css/merchstore.css' %}">
{% endblock %}

{% block title %}Edit {{ product.name }}{% endblock %}

{% block list %}
<div class="section">
    <div class="container">

        <div class="message">
            <div class="message-header">
                <p>Edit Product: {{ product.name }}</p>
            </div>
            <div class="message-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="box">
                        {{ edit_form.as_p }}
                    </div>
                    <div class="buttons mt-4">
                        <button type="submit" class="button is-success">Save Changes</button>
                        <a href="{% url 'item_list' %}" class="button is-light">Cancel</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}
